<form  #form="ngForm" class="form-container">
  <label for="type">Тип:</label>
  <select [(ngModel)]="transaction.transaction_type" name="type" id="type" required (change)="onTypeChange()">
    <option value="income">Доход</option>
    <option value="expense">Расход</option>
  </select>

  <label for="category">Категория:</label>
  <select [(ngModel)]="transaction.category" name="category" id="category" required>
    <option [value]="''" disabled hidden>Выберите категорию</option>
    <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
  </select>

  <label for="amount">Сумма:</label>
  <input
  [(ngModel)]="transaction.amount"
  name="amount"
  id="amount"
  transaction_type="number"
  required
  [value]="transaction.amount === 0 ? '' : transaction.amount"
  (focus)="onAmountFocus()"
  (blur)="onAmountBlur()"
  placeholder="0.00"
/>

  <label for="date">Дата:</label>
  <input [(ngModel)]="transaction.date" name="date" id="date" type="date"   required [max]="getTodayDate()">

  <label for="description">Описание:</label>
  <input [(ngModel)]="transaction.description" name="description" id="description" placeholder="Комментарий (необязательно)">

  <!-- <button type="submit">Добавить транзакцию</button> -->
  <button (click)="addTransaction()">Добавить транзакцию</button>
</form>